[include]
    path = ~/code/dotfiles/delta.gitconfig

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	email = 49335547+tquin@users.noreply.github.com
	name = tquin

[push]
	autoSetupRemote = true
	autoSetupRemote = true

[diff]
    colorMoved = dimmed-zebra
